version: 2
jobs:
  build:
    working_directory: ~/circleci2.0_sample
    docker:
      - image: python:3.6.0
    steps:
      - checkout
      - run:
          name: Install requirements
          command: pip install -r requirements.txt
      - run:
          name: Install test-requirements
          command: pip install -r test-requirements.txt
      - run:
          name: Run tests
          command: py.test --flake8 --cov-report html --cov .
      - run:
          name: Zip coverage reports
          command: |
            mkdir htmlcov_zip
            zip htmlcov_zip/htmlcov.zip htmlcov -r
      - store_artifacts:
          path: htmlcov_zip
          destination: htmlcov
      - deploy:
          name: Dummy deploy
          command: echo "Deploy!"
